body {
    margin: 0;
    background-color: white;
    /* background-image: url(./BG-baruu);
    background-size: 72%;
    background-repeat: no-repeat;
    background-position: top; */
}
.center {
    display: block;
    margin: auto;
}
.full-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    text-align: center;
    margin: 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 61%;
    transform: translate(-50%, -50%);
  }
.jawaban {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    text-align: center;
    
}
.box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    text-align: center;
    background-color: white;
    width: 400px;
    height: 200px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 61%;
    transform: translate(-50%, -50%);
}
.button-back {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
    color: black;
    position: absolute;
    top: 70%;
    left: 61%;
    transform: translate(-50%, -50%);
}
/* .nav-bar {
    position: relative;
    background-color: #d4ba3e;
    height: 125px;

} */
/* .nav-font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: black;
    top: 35px;
    margin: 0 20;
    position: absolute;
} */